beautifulsoup4
fastembed
langchain-core
langchain-openai
langchain-qdrant
loguru
lxml
nltk
numpy
openai
py7zr
pymorphy3
python-telegram-bot
qdrant-client
sentence-transformers
tiktoken
torch
transformers
wikiextractor
