beautifulsoup4
fastembed
langchain-core
langchain-openai
langchain-qdrant
loguru
lxml
nltk
numpy
openai
py7zr
pymorphy3
python-telegram-bot
qdrant-client
sentence-transformers==5.2.3
tiktoken
torch
transformers==4.57.1
wikiextractor
